/* GLOBAL */
body {
    margin: 0;

    font-family: 'Roboto', sans-serif;
}

#page-header {
    text-align: center;
    font-family: 'Fjalla One', sans-serif;
    font-size: 50px;
    font-weight: 900;
    text-transform: uppercase;
    background: #fff;
    color: #0088c9;
    box-shadow: 0 0 20px rgba(0, 0, 0, .25);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    padding: 20px;
    text-shadow: 0 0 20px rgba(0, 0, 0, .15);
}

#page-header a {
    color: #0088c9;
    text-decoration: none;
}

footer {
    background-color: #0088c9;
    font-family: 'Fjalla One', sans-serif;
    color: #fff;
    padding: 20px;
    text-align: center;
}

footer a {
    text-decoration: none;
    color: #fff;
    opacity: 0.75;
}

.nav-link {
    font-family: 'Fjalla One', sans-serif;
    font-size: 2.5em;
    padding: 40px;
    text-decoration: none;
    color: #0088c9;
    opacity: 0.75;

    text-align: center;

    display: block;

    /* margin-left: auto; */
    /* margin-right: auto; */

    transition: 0.3s;

    text-shadow: 0 0 20px rgba(0, 0, 0, .25);
}

.nav-link:hover {
    transform: scale(1.05);
    opacity: 1;
}


/* HOME PAGE */
#home-large {
    height: 100vh;

    position: relative;
    background: linear-gradient(-45deg, #d7ca17, #f3e205, #0088c9, #0d6e99);
    background-size: 400% 400%;
    animation: gradient 30s ease infinite;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;

    z-index: -3;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}


#home-large-contents {
    position: fixed;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;

    grid-gap: 2em;

    grid-template-areas:
        "logo"
        "text";

    align-items: center;
    /* width: 100%; */
    top: 50%;
    left: 50%;

    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

@media (min-width: 1080px) {
    #home-large-contents {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;

        grid-template-areas:
            "logo text";
    }
}

#home-large-logo {
    grid-area: logo;

    height: 20vh;

    margin-left: auto;
    margin-right: auto;

    -webkit-filter: drop-shadow(0px 0px 20px rgba(0, 0, 0, 0.25));
}

#home-large-text {
    grid-area: text;

    color: #fff;

    text-align: center;

    text-shadow: 0 0 20px rgba(0, 0, 0, .25);

    font-size: 6vh;
    font-family: 'Fjalla One', sans-serif;

    line-height: 90%;
}

@media (min-width: 1080px) {
    #home-large-logo {
        height: 60vh;
    }

    #home-large-text {
        font-size: 12vh;
        text-align: left;
    }
}


.scroll-prompt {
    text-align: center;
    font-size: 50px;
    bottom: 10%;
    animation: scroll-prompt-anim 5s infinite;
    position: fixed;
    left: 50%;

    color: #fff;

    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    z-index: -1;
}

@keyframes scroll-prompt-anim {
    0% {
        bottom: 10%;
    }

    50% {
        bottom: 5%;
    }

    100% {
        bottom: 10%;
    }
}

.home-quote-1 {
    font-family: 'Fjalla One', sans-serif;
    font-size: 8em;
    text-align: center;

    padding: 20px;

    color: #0088c9;
    background-color: #fff;

    text-shadow: 0 0 20px rgba(0, 0, 0, .25);
    box-shadow: 0 0 20px rgba(0, 0, 0, .25);
}

.home-quote-2 {
    font-family: 'Fjalla One', sans-serif;
    font-size: 8em;
    text-align: center;

    padding: 20px;

    color: #fff;
    background-color: #f3e205;

    text-shadow: 0 0 20px rgba(0, 0, 0, .25);
}

.home-quote-3 {
    font-family: 'Fjalla One', sans-serif;
    font-size: 4em;
    text-align: center;

    padding: 40px;

    color: #fff;
    background-color: #0088c9;

    text-shadow: 0 0 20px rgba(0, 0, 0, .25);
}

.home-alt {
    opacity: 0.75;
}

.home-image {
    width: 100vw;
    height: 50vh;
    object-fit: cover;
    background-color: #fff;
    margin: 0;
    padding: 0;

    margin-bottom: -8px;
}

.home-body {
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 0;

    background-color: #fff;
    color: #0088c9;
    font-family: 'Fjalla One', sans-serif;
    font-size: 2.5em;
    text-align: center;

    text-shadow: 0 0 20px rgba(0, 0, 0, .25);
}

.home-section-header {
    background-color: #fff;
    font-family: 'Fjalla One', sans-serif;
    text-align: center;
    font-size: 6em;
    font-family: 'Fjalla One', sans-serif;

    color: #0088c9;

    text-shadow: 0 0 20px rgba(0, 0, 0, .25);
    margin: 0;
    padding: 20px;
}

#home-values {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;

    grid-template-areas:
        "home-value-gp"
        "home-value-coop";

    background-color: #fff;
}

@media (min-width: 1080px) {
    #home-values {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;

        grid-template-areas:
            "home-value-gp home-value-coop";
    }
}

#home-value-gp {
    grid-area: home-value-gp;

    font-family: 'Fjalla One', sans-serif;
    font-size: 2em;

    text-align: center;

    margin: .8em;
    padding: .8em;
    background-color: #0088c9;

    color: #fff;

    text-shadow: 0 0 20px rgba(0, 0, 0, .25);
    box-shadow: 0 0 20px rgba(0, 0, 0, .25);
}

#home-value-gp:hover {
    transform: scale(1.02);
}

#home-value-coop {
    grid-area: home-value-coop;

    font-family: 'Fjalla One', sans-serif;
    font-size: 2em;

    text-align: center;

    margin: .8em;
    padding: .8em;
    background-color: #f3e205;

    text-shadow: 0 0 20px rgba(0, 0, 0, .25);
    box-shadow: 0 0 20px rgba(0, 0, 0, .25);
}

#home-value-coop:hover {
    transform: scale(1.02);
}

.home-value-header {
    font-size: 2em;
    margin: 0;
    padding-bottom: 20px;
}

#home-post-list {
    background: #fff;
    margin-bottom: -18px;
}

#home-sponsors {
    display: block;
    margin-left: auto;
    margin-right: auto;

    margin-top: -8px;
    margin-bottom: 2em;

    box-shadow: 0 0 20px rgba(0, 0, 0, .25);

    width: 50%;
}

#home-sponsor-section {
    background-color: #fff;
    margin-bottom: -40px;
}

#home-sponsors:hover {
    transform: scale(1.02);
}

#home-social {
    text-align: center;
    padding-top: 4em;
    padding-bottom: 2em;
    background-color: #fff;
}

.home-social-link {
    font-family: 'Fjalla One', sans-serif;
    font-size: 2.5em;
    padding: 0 20px;
    padding-bottom: 40px;
    display: inline-block;
    text-decoration: none;
    color: #0088c9;
    opacity: 0.75;

    transition: 0.3s;

    text-shadow: 0 0 20px rgba(0, 0, 0, .25);
}

#home-social a:hover {
    transform: scale(1.05);
    opacity: 1;
}

/* SINGLE PAGE */

#single-content-section {
    margin-left: 10vw;
    margin-right: 10vw;
    margin-top: 200px;

    box-shadow: 0 0 20px rgba(0, 0, 0, .25);
    min-height: 80vh;
}

#post-header {
    background: linear-gradient(-135deg, #0088c9, #0d6e99);
    overflow: hidden;
}

#post-author-image {
    width: 150px;
    float: left;
    padding: 10px;
}

.post-details {
    color: #fff;
    font-family: 'Fjalla One', sans-serif;
    font-size: 1.5em;
    text-shadow: 0 0 20px rgba(0, 0, 0, .25);
}

.post-details-alt {
    opacity: 0.75;
}

.post-content {
    padding: 20px;
    margin: 0;
    font-size: 1.5em;
}

/* POST LIST ENTRIES */
.post-list-post {
    background: #0088c9;
    color: #fff;
    overflow: hidden;
    display: block;
    margin: 10px;

    text-decoration: none;

    font-family: 'Fjalla One', sans-serif;
    font-size: 1.2em;

    text-shadow: 0 0 20px rgba(0, 0, 0, .25);
    box-shadow: 0 0 20px rgba(0, 0, 0, .25);

    transition: 0.3s;
}

.post-list-post:hover {
    transform: scale(1.01);
}

.post-list-image {
    width: 100px;
    padding: 10px;

    float: left;
}

.home-posts-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 25px;
    margin: 0 auto;
    max-width: 1200px;
}

/* POSTS LIST PAGE */
.posts-list-page-header {
    background-color: #fff;
    font-family: 'Fjalla One', sans-serif;
    text-align: center;
    font-size: 4em;
    font-family: 'Fjalla One', sans-serif;

    color: #0088c9;

    text-shadow: 0 0 20px rgba(0, 0, 0, .25);
    margin-top: 150px;
    /* padding: 20px; */
}
