<!DOCTYPE html>

{{ partial "head.html" .}}

<body>
    <script>
        AOS.init();
      </script>
    <section id="home-large">
        <div id="home-large-contents">
            <img id="home-large-logo" src="/img/logo.png" />
            <header id="home-large-text">WE ARE THE PALADINS OF ST PAUL'S!</header>
        </div>
        <i class="fas fa-angle-down scroll-prompt"></i>
    </section>
    <section class="home-quote-1"><p data-aos="fade-right" style="margin: 0;"><span class="home-quote-alt">BUILDING</span> ENGINEERS</p></section>
    <img class="home-image" src="/img/global/bg_img_1.jpg" />
    <section class="home-body" style="margin: 0;">
        <p>The Paladins of St Paul's are a rookie FTC team from St Paul's College, Gilles Plains, South Australia.  We are working hard to learn all we can about the FIRST family of programs, meet teams from all around the world and promote STEM.
We are determined to become outstanding ambassadors for FIRST and true gracious professionals.</p>
    </section>
    <section class="home-quote-2"><p data-aos="fade-left" style="margin: 0;">CONNECT<span class="home-quote-alt"> / </span>INSPIRE<span class="home-quote-alt"> / </span>ENGINEER</span></p></section>
    <img class="home-image" src="/img/global/bg_img_2.jpg" />
    <section class="home-quote-3"><p data-aos="fade-right" style="margin: 0;">"To transform our culture by creating a world where science and technology are celebrated and where young people dream of becoming science and technology leaders."<br /><span class="home-quote-alt"> - Dean Kamen, Founder of FIRST</span></p></section>
</body>