<!DOCTYPE html>

{{ partial "head.html" .}}

<body>
    <script>
        AOS.init();
      </script>
    <section id="home-large">
        <div id="home-large-contents">
            <img id="home-large-logo" src="/img/logo.png" />
            <header id="home-large-text">WE ARE THE PALADINS OF ST PAUL'S!</header>
        </div>
        <i class="fas fa-angle-down scroll-prompt"></i>
    </section>
    <section class="home-quote-1"><p data-aos="fade-right" style="margin: 0;"><span class="home-alt">WE BUILD</span> ENGINEERS</p></section>
    <img class="home-image" src="/img/global/bg_img_1.jpg" />
    <section class="home-body" style="margin: 0;">
        <p data-aos="zoom-in">The Paladins of St Paul's are a rookie FTC team from St Paul's College, Gilles Plains, South Australia.  We are working hard to learn all we can about the FIRST family of programs, meet teams from all around the world and promote STEM.
We are determined to become outstanding ambassadors for FIRST and true gracious professionals.</p>
    </section>
    <section class="home-quote-2"><p data-aos="fade-left" style="margin: 0;">CONNECT<span class="home-alt"> / </span>INSPIRE<span class="home-alt"> / </span>ENGINEER</span></p></section>
    <img class="home-image" src="/img/global/bg_img_2.jpg" />
    <section class="home-quote-3"><p data-aos="fade-right" style="margin: 0;">"To transform our culture by creating a world where science and technology are celebrated and where young people dream of becoming science and technology leaders."<br /><span class="home-alt"> - Dean Kamen, Founder of <em>FIRST<sup>&reg;</em></sup></span></p></section>
    <h2 id="home-section-header">OUR VALUES</h2>
    <section id="home-values">
        <div id="home-value-gp" data-aos="flip-right" data-aos-duration="1000">
            <h2 class="home-value-header">Gracious Proffesionalism<br />&#128079; &#128079; WOO!</h2>
            <span class="home-alt">Gracious Professionalism is part of the ethos of FIRST. It's a way of doing things that encourages high-quality work, emphasizes the value of others, and respects individuals and the community.
With Gracious Professionalism, fierce competition and mutual gain are not separate notions. Gracious professionals learn and compete like crazy, but treat one another with respect and kindness in the process. They avoid treating anyone like losers. No chest thumping tough talk, but no sticky-sweet platitudes either. Knowledge, competition, and empathy are comfortably blended.
In the long run, Gracious Professionalism is part of pursuing a meaningful life. One can add to society and enjoy the satisfaction of knowing one has acted with integrity and sensitivity.</span>
        </div>
        <div id="home-value-coop" data-aos="flip-left" data-aos-duration="1000">
            <h2 class="home-value-header">Coopertition</h2>
            <span class="home-alt">Coopertition® produces innovation. At FIRST, Coopertition is displaying unqualified kindness and respect in the face of fierce competition. Coopertition is founded on the concept and a philosophy that teams can and should help and cooperate with each other even as they compete.
Coopertition involves learning from teammates. It is teaching teammates. It is learning from Mentors. And it is managing and being managed. Coopertition means competing always, but assisting and enabling others when you can.</span>
        </div>
    </section>
    
    <section id="home-sponsor-section">
        <h2 id="home-section-header">OUR WONDERFUL SPONSORS</h2>
        <img id="home-sponsors" data-aos="zoom-out" data-aos-duration="1000" src="/img/global/sponsors.png" />
    </section>

    <section id="home-social">
        <h2 id="home-section-header">WE'RE A VERY SOCIAL TEAM</h2>
        <a href="https://www.facebook.com/Paladins2020" target="_blank" class="home-social-link"><i class="fab fa-facebook-square"></i> Facebook</a>
        <a href="https://twitter.com/StPaladins" target="_blank" class="home-social-link"><i class="fab fa-twitter-square"></i> Twitter</a>
        <a href="https://github.com/Paladins-of-St-Pauls" target="_blank" class="home-social-link"><i class="fab fa-github-square"></i> Github</a>
    </section>

    <footer>
        {{ now.Format "2006"}} The Paladins of St Paul's | FTC Team #18003 | Website by <a href="https://calebrodgers.com" target="_blank">calebrodgers.com</a>
    </footer>
</body>